.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.products{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 20px;
}

.product{
  width: 200px;
  outline: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
}

img{
  width: 120px;
}